syntax: glob
*~
*.bak
*.deb
*.mex
*nbc
*nbi
*.o
*.pyc
*.pyd
*.pyproj
*.so
*.swo
*.swp
*.DS_Store
*__pycache__
*Thumbs.db
/.cache/
/.spyproject/
.coverage
.hook_ignore*
.idea/*
.python-version
.ropeproject/*
.spyderproject
.spyderworkspace
~.vimrc
desktop.ini
dist
build/*
bin/*.bat
PortableInstall/*
deb_dist/*
doc/_build/*
doc/.build/*
*egg-info*
*__pycache__*
*sg_execution_times.rst
